<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    <head>
        {{ partial "headers.html" . }}
        {{ partial "headers_custom.html" . }}
    </head>

    <body>
        
        {{ partial "top.html" . }}
        {{ partial "nav.html" . }}

        <main id="content" class="single">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col col-12">
                            {{ .Content }}     
                        </div>
                    </div>

                               

        </main>

        {{ partial "scripts.html" . }}
        {{ partial "footer.html" . }}           
        {{ partial "copyright.html" . }}           
    </body>

</html>