{{ if isset .Site.Params "nav" }}
{{ if .Site.Params.nav.enable }}

<header id="ly-nav">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark " >
        <div class="container{{if  .Site.Params.nav.fluid }}-fluid{{end}}" >
            <a class="navbar-brand"  href="{{ "" | relURL }}" >qprocheck - ci database gmbh</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            
  
            </div>
        </div>
    </nav>
</header>
{{ end }}
{{ end }}



