{{ if isset .Site.Params "top" }}
{{ if .Site.Params.top.enable }}
<header id="ly-top" class="d-none d-sm-none d-md-none d-lg-block">
    <div class="container{{if  .Site.Params.top.fluid }}-fluid{{end}}" >
        {{ if .Site.Params.top.html }}
        {{ .Site.Params.top.text | safeHTML }}
        {{ else if .Site.Params.top.noMarkdown }}
        {{ .Site.Params.top.text }}
        {{ else }}
        {{ .Site.Params.top.text | markdownify }}
        {{ end }}
    </div>
</header>
{{ end }}
{{ end }}